<%= form_with model: @website, :html => { :class => "form-horizontal center" } do |form| %>
  <div class="form-group row">
    <%= form.label :link, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= form.text_field :link, class: "form-control", placeholder: "https://slashdot.org/?page={pagination}" %>
    </div>
    <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter an URL of page for parsing list of articles. For use pagination, enter URL with format https://slashdot.org/?page={pagination}">?</span>
          </span>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :page_begin, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= form.text_field :page_begin, class: "form-control", placeholder: "1" %>
    </div>
    <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter beginning number of page">?</span>
          </span>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :page_end, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= form.text_field :page_end, class: "form-control", placeholder: "99" %>
    </div>
    <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter last number of page">?</span>
          </span>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :attr_name, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= form.text_field :attr_name, class: "form-control", placeholder: "class" %>
    </div>
    <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter attribute name of link to full article, for example 'class'">?</span>
          </span>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :attr_value, class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= form.text_field :attr_value, class: "form-control", placeholder: "article_link" %>
    </div>
    <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter attribute value of link to full article">?</span>
          </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
<% end %>