<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Editing website with link <%= @website.link %></h1>
    <p class="lead text-muted">To update website for parsing on background tasks, fill form below.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @website.errors.count > 0 %>
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this form from being filled:</h2>
      <ul>
        <% @website.errors.each do |attribute, message| %>
          <li> * <%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= render "form", website: @website %>
  </div>
</div>