<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Websites</h1>
    <p class="lead text-muted">Here you can see a list of websites which parses on background tasks.</p>
    <p>
      <a href="<%= url_for(controller: 'websites', action: 'new') %>" class="btn btn-primary">Create website</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <%= @page <= 1 ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'websites', action: 'index', page: @page - 1) %>">Previous</a>
        </li>
        <% for i in MathUtility.max(1, @page - 2)..MathUtility.min(@total, @page + 2) %>
          <li class="page-item <%= @page == i ? 'disabled' : '' %>"><a class="page-link" href="<%= url_for(controller: 'websites', action: 'index', page: i) %>"><%= i %></a></li>
        <% end %>
        <li class="page-item <%= @page >= @total ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'websites', action: 'index', page: @page + 1) %>">Next</a>
        </li>
      </ul>
    </nav>
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Link</th>
        <th scope="col">Attribute name</th>
        <th scope="col">Attribute value</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @websites.each do |website| %>
        <tr class="table">
          <td><%= website.link %></td>
          <td><%= website.attr_name %></td>
          <td><%= website.attr_value %></td>
          <td>
            <a href="<%= url_for(controller: 'websites', action: 'show', id: website.id) %>" class="btn btn-sm btn-info">View</a>
            <a href="<%= url_for(controller: 'websites', action: 'edit', id: website.id) %>" class="btn btn-sm btn-warning">Update</a>
            <%= link_to "Delete", website,
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btn btn-sm btn-danger"%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>