<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Website #<%= @website.id %></h1>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <table class="table table-bordered">
      <tbody>
        <tr class="table">
          <td class="thead-light">Link</td>
          <td><%= @website.link %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Page begin</td>
          <td><%= @website.page_begin %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Page end</td>
          <td><%= @website.page_end %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Attribute name</td>
          <td><%= @website.attr_name %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Attribute value</td>
          <td><%= @website.attr_value %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Created time</td>
          <td><%= @website.created_at %></td>
        </tr>
        <tr class="table">
          <td class="thead-light">Updated time</td>
          <td><%= @website.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>