<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Logs</h1>
    <p class="lead text-muted">Here you can see a list of logs of background tasks.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <%= @page <= 1 ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'log', action: 'index', page: @page - 1) %>">Previous</a>
        </li>
        <% for i in MathUtility.max(1, @page - 2)..MathUtility.min(@total, @page + 2) %>
          <li class="page-item <%= @page == i ? 'disabled' : '' %>"><a class="page-link" href="<%= url_for(controller: 'log', action: 'index', page: i) %>"><%= i %></a></li>
        <% end %>
        <li class="page-item <%= @page >= @total ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'log', action: 'index', page: @page + 1) %>">Next</a>
        </li>
      </ul>
    </nav>
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Time</th>
      </tr>
      </thead>
      <tbody>
      <% @logs.each do |log| %>
      <tr class="table-<%= ((log.level == Log::LEVEL_INFO)?"info":"danger") %>">
        <td><%= log.message %></td>
        <td><%= log.created_at %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>