<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Articles list</h1>
    <p class="lead text-muted">Here you can see a list of articles that were parsed from third-party sites or added
      manually.</p>
    <p>
      <a href="<%= url_for(controller: 'log', action: 'index') %>" class="btn btn-info">Logs</a>
      <a href="<%= url_for(controller: 'list', action: 'new') %>" class="btn btn-primary">Parse list</a>
      <a href="<%= url_for(controller: 'page', action: 'new') %>" class="btn btn-dark">Parse page</a>
      <a href="<%= url_for(controller: 'articles', action: 'new') %>" class="btn btn-secondary">Create manually</a>
      <a href="<%= url_for(controller: 'websites', action: 'index') %>" class="btn btn-light">Websites</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <%= @page <= 1 ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'articles', action: 'index', page: @page - 1) %>">Previous</a>
        </li>
        <% for i in MathUtility.max(1, @page - 2)..MathUtility.min(@total, @page + 2) %>
          <li class="page-item <%= @page == i ? 'disabled' : '' %>"><a class="page-link" href="<%= url_for(controller: 'articles', action: 'index', page: i) %>"><%= i %></a></li>
        <% end %>
        <li class="page-item <%= @page >= @total ? 'disabled' : '' %>">
          <a class="page-link" href="<%= url_for(controller: 'articles', action: 'index', page: @page + 1) %>">Next</a>
        </li>
      </ul>
    </nav>
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-text"><%= article.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="<%= article.link %>" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted"><%= article.created_at %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>