<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Create article</h1>
    <p class="lead text-muted">To create article manually, fill form below.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @article.errors.count > 0 %>
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @article.errors.each do |attribute, message| %>
          <li> * <%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @article, :html => { :class => "form-horizontal center" } do |form| %>
      <div class="form-group">
        <%= form.label :title, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :link, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_field :link, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
      </div>
    <% end %>
  </div>
</div>