<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Parse article</h1>
    <p class="lead text-muted">To parse article manually, enter URL of article below.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @external_page.errors.count > 0 %>
      <h2><%= pluralize(@external_page.errors.count, "error") %> prohibited this article from being parsed:</h2>
      <ul>
        <% @external_page.errors.each do |attribute, message| %>
          <li> * <%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @external_page, url: {action: :create}, :html => { :class => "form-horizontal center" } do |form| %>
      <div class="form-group">
        <%= form.label :link, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_field :link, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
      </div>
    <% end %>
  </div>
</div>