<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Parse list</h1>
    <p class="lead text-muted">To parse list of articles manually, fill form below.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <% if @external_list.errors.count > 0 %>
      <h2><%= pluralize(@external_list.errors.count, "error") %> prohibited this form from being filled:</h2>
      <ul>
        <% @external_list.errors.each do |attribute, message| %>
          <li> * <%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @external_list, url: {action: :create}, :html => { :class => "form-horizontal center" } do |form| %>
      <div class="form-group row">
        <%= form.label :link, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= form.text_field :link, class: "form-control", placeholder: "https://slashdot.org/?page={pagination}" %>
        </div>
        <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter an URL of page for parsing list of articles. For use pagination, enter URL with format https://slashdot.org/?page={pagination}">?</span>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :page_begin, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= form.text_field :page_begin, class: "form-control", placeholder: "1" %>
        </div>
        <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter beginning number of page">?</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :page_end, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= form.text_field :page_end, class: "form-control", placeholder: "99" %>
        </div>
        <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter last number of page">?</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :attribute_name, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= form.text_field :attribute_name, class: "form-control", placeholder: "class" %>
        </div>
        <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter attribute name of link to full article, for example 'class'">?</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :attribute_value, class: "col-md-3 control-label" %>
        <div class="col-md-7">
          <%= form.text_field :attribute_value, class: "form-control", placeholder: "article_link" %>
        </div>
        <div class="col-md-1">
          <span class="pull-right btn btn-xs btn-info">
            <span data-toggle="tooltip" data-placement="left" title="Enter attribute value of link to full article">?</span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
      </div>
    <% end %>
  </div>
</div>